
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
            
                        
        <title>APAME4990</title>
        
        <!-- Bootstrap core CSS -->
        <link href="static/css/bootstrap.css" rel="stylesheet">
        <link href="static/css/custom-styles.css" rel="stylesheet">
        <link href="static/css/image-effects.css" rel="stylesheet">

        <link href="static/css/normalize.css" rel="stylesheet">
        <link href="static/css/component.css" rel="stylesheet">
        <link href="static/css/font-awesome.css" rel="stylesheet">
        <link href="static/css/font-awesome-ie7.css" rel="stylesheet">

        <script src="static/js/html5shiv.js"></script>
        <script src="static/js/respond.min.js"></script>
        <script src="static/js/modernizr.custom.js"></script>
        
        <body>
            <div class="container page-styling">
                <div class="header-wrapper">
                    <div class="site-name">
                        <h1>Meal Pal</h1>
                    </div>
                    
        <div class="banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
        <div class="item active">
        <img src="static/img/banner-img.jpg" alt="" class="">
        <div class="carousel-caption">
        <i class="fw-icon-pencil"></i>
        <h2>AMPAE4990</h2>
        <a class="btn btn-lg btn-success" href="/show_input_name" role="button"> Find Your Meal Pal</a>
        </div>
        </div>
        </div>
        </div>
        </div>
            <div class="menu">
 
                    
                </div>
        <footer class="footer">
            <p>&copy; APMAE4990 Final Project</p>
        </footer>
    
                                <!-- Bootstrap core JavaScript
         ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="static/js/jquery-1.9.1.js"></script>
        <script src="static/js/bootstrap.js"></script>
        <script src="static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="static/js/masonry.pkgd.min.js"></script>
        <script src="static/js/imagesloaded.js"></script>
        <script src="static/js/classie.js"></script>
        <script src="static/js/AnimOnScroll.js"></script>

        <script>
            new AnimOnScroll( document.getElementById( 'grid' ), {
                             minDuration : 0.4,
                             maxDuration : 0.7,
                             viewportFactor : 0.2
                             } );
            </script>
        
        
        </body>
    </head>
</html>
